.panel.product
  .row
    .large-12.small-12.columns
      = link_to link do
        = image_tag image
  .row
    .large-8.small-12.columns
      = link_to "#" do
        %h4= name
    .large-4.small-12.columns
      = link_to "View Theme", link, :class => "button expand small"
