= render :partial => 'railsthemes/shared/head'

%h1 Forms

.row
  .small-12.columns
    %h3 Smooth
    = example_tabs('forms/smooth')
.row
  .small-6.columns
    %h3 Basic
    = example_tabs('forms/basic')

  .small-6.columns
    %h3 Inline
    = example_tabs('forms/inline')

.row
  .small-6.columns
    %h3 Compact
    = example_tabs('forms/compact')
