.row.roomy
  .large-12.small-12.columns.image-margin-bottom
    = image_tag "http://placehold.it/1600x600&text=Image"
.row.roomy
  .large-3.small-12.columns
    .panel
      = image_tag "http://placehold.it/500x500&text=Image"
      %hr.greyscale
      %h4 Header
      %p= lorem(17)
      %p= lorem(15)
      %p
        = link_to "#", :class => "small secondary button full-width" do
          Link
  .large-9.small-12.columns
    .panel
      - 2.times do
        .row
          - 4.times do
            .large-3.small-6.columns
              = link_to "#", class: "th" do
                = image_tag "http://placehold.it/400x300&text=Image"
              = link_to "#" do
                %span.caption.caption-margin-left Caption
    .row
      - 2.times do
        .large-6.small-12.columns
          .panel
            %h5 Subheader
            - 2.times do
              %p= lorem(15)
            %p
              = link_to "#", :class => "small secondary full-width button" do
                Link
