= content_for :sidebar_right do
  %h1.page-title Page Name
  %ul.large-12.small-12.side-nav
    %li.active= link_to "Sub Page One", :root
    %li= link_to "Sub Page Two", :root
    %li= link_to "Sub Page Three", :root

= render 'layout_text'
