= content_for :sidebar_left do
  %h1.page-title Page Name
  %ul.large-12.small-12.side-nav
    %li.active
      = link_to "Sub Page One", :root
    %li
      = link_to "Sub Page Two", :root
    %li
      = link_to "Sub Page Three", :root



%h1 Heading 1
%h2 Heading 2
%h3 Heading 3
%h4 Heading 4
%h5 Heading 5
%h6 Heading 6
%p
  Paragraph text should be like this. The line spacing should be like this. The color should be like this.
  And all of the good stuff should be like this. This is just filler text.
  This sentence shows regular,
  %strong bold,
  %strong
    %em bold italics,
  and
  %em italics
%p
  Paragraph text should be like this. The line spacing should be like this. The color should be like this. And all of the good stuff should be like this. This is just filler text.
  = link_to "And a link", "#"

%h6 Numbered List.
%ol
  %li Number one
  %li Number two
  %li Number three

%h6 Bulleted List
%ul
  %li Bullet one
  %li Bullet two
  %li Bullet three

%h6 Other Text
%ul
  %li
    %code this.is == code
  %li
    %em Emphasized text
  %li
    %strong Strong text
  %li
    %dfn Definition term
  %li
    %samp Sample output
  %li
    %kbd Keyboard input
  %li
    %var Variable

%h6 Inline List
:plain
  <ul class="inline-list">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
    <li>Not Link</li>
    <li><a href="#">Link 4</a></li>
  </ul>
