%ul.pagination
  %li.arrow.unavailable= link_to(raw('&larr;'), '#')
  %li.current= link_to('1', '#')
  %li= link_to('2','#')
  %li= link_to('3','#')
  %li.unavailable= link_to('...', '#')
  %li= link_to('12','#')
  %li= link_to('13','#')
  %li.arrrow= link_to(raw('&rarr;'), '#')
